<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
</head>

<body>
    <img src="http://i.imgur.com/uvQGLlt.png" alt="Mountain View">

    <fieldset>
        <legend>Question Search:</legend>
        Article Link:<br>
        <input type="text" name="article" value="http://www.cnn.com/2016/11/30/politics/donald-trump-carrier-jobs-analysis/" id="article1"> <input type="button" value="Load Article" onclick="loadArticle()" /><br>
        Question:<br>
        <input type="text" name="question" value="When will he take office?" id="question1" > <br><br>

        <input type="button" value="Load Answer" onclick="loadAnswer()" />

    </fieldset>


    <img src="http://i.imgur.com/H5gX3zp.png" alt="Mountain View">
    <div id="mydiv">
        <iframe id="frame1" src="https" width="100%" height="500"></iframe>
    </div>

    <img src="http://i.imgur.com/pLqUHab.png" alt="Mountain View">
    <p>
        <input type='button' name='Next' value='Next Page'
               onclick='window.location.replace("http://timecrystal.co.uk/");' />
    </p>





    <script>
        $(document).ready(function () {
            $("#button").click(function () {
                $("#frame").attr("src", "http://www.google.com/");
            });
        });

        function loadArticle() {
            var el = document.getElementById('frame1');
            el.src = document.getElementById("article1").value;
            alert("Load Article!");
        }

        
        function loadAnswer() {
            $.ajax({
                type: "POST",
                url: "index.html",
                data: {"article": $("#article1").val(), "question":$("#question1").val() },
                success: success,
                dataType: typeof data
                
            });
        }

        function success(data) {
            alert("Loaded Answer!");
            var el = document.getElementById('frame1');
            el.src = data["url"];
            alert("ANSWER found!");
        }
    </script>
</body>
</html>
