<html>
<head>
    <script src="{{ STATIC_URL}}/scripts/index.js" ></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
</head>
<body>
    <img src="http://i.imgur.com/uvQGLlt.png" alt="Mountain View">
    <form action="home.html" method="post">
        <fieldset>
            <legend>Question Search:</legend>
            Article Link:<br>
            <input type="text" name="article" value="www.google.com"><br>
            Question:<br>
            <input type="text" name="question" value="How old is Trump?"><br><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>


    <div id="mydiv">
        <iframe id="frame" src="" width="100%" height="300"></iframe>
    </div>
    <button id="button">Load</button>


</body>
</html>